<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.deliciousfoods.mapper.UserMapper">

    <insert id="insertOneUser" parameterType="User" useGeneratedKeys="true" keyProperty="User_ID">
        INSERT INTO User(User_LoginName, User_Name, User_Pwd, User_Tel, User_Mony, User_Freeze)
        VALUES(#{User_LoginName},#{User_Name}, #{User_Pwd},#{User_Tel},#{User_Money},#{User_Freeze})
    </insert>

    <select id="findUserLogin" resultType="User">
        SELECT * FROM User WHERE User_Tel = #{tel} AND User_Pwd = #{pwd}
    </select>
    <select id="findUserByTel" resultType="String">
        SELECT User_Tel FROM User WHERE User_Tel = #{value}
    </select>
</mapper>